/* Main body elements common to all pages */

body {
	background-image: url('../img/wallpaper.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: center;
	font-family: 'Roboto', sans-serif;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    background-attachment: fixed;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
}

p {
	margin: 20px 0px;
}

h1 {
	padding-bottom: 2vh;
}

.actual-body {
	padding-top: 1%;
	padding-bottom: 1%;
	color: #ffffff;
	width: 80%;
	margin: auto;
}

footer {
	margin-top: 2vh;
}

/* Skip to main, common to all pages */
a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

/* Flexbox Navbar, common to all pages */

.navbar-black {
	background-color: #000000;
	display: flex;
	flex-direction: column;
	box-shadow: 0px -9px 5px 8px #fff;
	color: #ffffff;
	opacity: 0.8;
}

.navbar-link {
	padding: 8px;
	/* text-align: center; */
	padding-left: 5vw;
	margin-left: 3px;
	width: 100%;
}

.navbar-link:hover {
	background-color: green;
}

.navbar-items-right .navbar-link:hover {
	width: 100vw;
}

.navbar-items {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	display: none;
}

.navbar-items-right {
	margin-left: 0;
	margin-right: 2em;
}

.navbar-link-brand {
	font-family: 'Charmonman', cursive;
	font-weight: bold;
	font-size: 1.5em;
	padding-top: 2vh;
}

.navbar-link-brand:hover {
	color: #ccc;
	background-color: #000000;
}

.navbar-link-toggle {
	width: 2em;
	align-self: flex-end;
	display: initial;
	position: absolute;
	cursor: pointer;
	padding-top: 2vh;
}

.navbar-link-toggle:hover {
	color: #ccc;
	background-color: #000000;
}

.navbar-items > a {
	color: #fff;
	text-decoration: none;
}

.navbar-items > a:active {
	color: #fff;
}

.navbar-items > a:visited {
	color: #fff;
}

.navbar-active {
	background-color: green;
}

/* Specific styles for the Home page */

.home-toggle {
	padding-right: 5vh
}

.overlay-home {
	height: auto;
}

.home-heading-text {
	font-family: 'Permanent Marker', cursive;
	font-size: 3em;
}

.home-subheading {
	margin-top: 5vh;
}

.home-opening-gif {
	text-align: right;
	display: none;
}

.home-quote {
	width:60%;
	margin-top: 5vh;
	font-family: 'Indie Flower', cursive;
	margin-bottom: 20%;
}

.home-author {
	text-align: right;
}

.container .btn {
	display:none;
}

/* Specific styles for the History page */

.history-heading-text {
	font-family: 'Permanent Marker', cursive;
	font-size: 3em;
}

.ancient-chess-image {
	width: 70%;
}

#scrollButton {
	display: none;
	position: fixed;
	bottom: 40px;
	right: 50px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: black;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}

#scrollButton:hover {
	background-color: #fff;
	color: #000;
}

/* Specific styles for the Rules page */

.rules-heading-text {
	font-family: 'Permanent Marker', cursive;
	font-size: 3em;
}

/* Specific styles for the Best Players Page */

.players_wrapper {
	display: block;
}

.player_div {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	width: 100%;
}

.players-heading-text {
	font-family: 'Permanent Marker', cursive;
	font-size: 3em;
}

.navbar-toggle-show {
	display: flex;
}

@media only screen and (orientation: landscape) {

	/* Home page */

	.home-toggle {
		padding-right: 9vh;
	}

	.home-opening-gif {
		display: block;
		margin-top: 5vh;
		text-align: left;
	}

	.overlay-home {
		height: auto;
		width: 100vw;
		position: static;
	}

	/* History page */

	#scrollButton {
		right: 70px;
	}

	/* Players page */

	.players_wrapper {
		display: grid;
		grid-template-columns: 45% 45%;
		/* grid-gap: 5%; */
		justify-content: center;
	}

}

@media only screen and (min-width: 768px) {

	/* Make navbar expand on desktop */

	.navbar-items, .navbar-black {
		display: flex;
		flex-direction: row;
	}

	.navbar-link {
		width: 8em;
		padding-left: 0;
	}

	.navbar-link i {
		display: block;
	}

	.navbar-items {
		align-content: flex-start;
		text-align: center;
	}

	.navbar-items-right {
		margin-left: auto;
	}

	.navbar-items-right .navbar-link:hover {
		width: 8em;
	}

	.navbar-link-toggle {
		display: none;
	}

	.home-wrapper {
		display: grid;
		grid-template-rows: repeat(3, auto);
		grid-template-columns: 40% 60%;
		/* grid-gap: 2%; */
	}

	/* #modalNavbarItem {
		display: block;
	} */

	/* Home page  */
	
	.home-heading {
		grid-column: 1 / span 2;
	}

	.home-opening-gif {
		display: initial;
		margin: auto auto;
	}

	.overlay-home {
		height: auto;
	}

	/* History page */

	#scrollButton {
		right: 30px;
	}

	/* This code is for button on image */
	/* Make the image responsive */
	.container {
		position: relative;
		width: 60%;
	}

	.container img {
		width: 100%;
		height: auto;
	}
  
	/* Style the button and place it in the middle of the container/image */
	.container .btn {
		position: absolute;
		display: inline;
		top: 50%;
		left: 50%;
		opacity: 0.8;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		background-color: #555;
		color: white;
		font-size: 16px;
		padding: 12px 24px;
		border: none;
		cursor: pointer;
		border-radius: 5px;
	}
	
	.container .btn:hover {
		background-color: black;
	}

	/* #myModal {
		display: inherit;
	} */
	
	.modal {
		color: #000;
	}

	.modalChessBoard {
		width:400px;
		margin:15px auto 0 auto;
	}

	#playerBoardStatus, #computerBoardStatus {
		margin-top: 10px;
		text-align: center;
	}

	/* History page  */

	.ancient-chess-image {
		width: 50%;
	}

	/* Players page  */

	.players_wrapper {
		display: grid;
		grid-template-columns: repeat(3, 30%);
		/* grid-gap: 5%; */
		justify-content: center;
	}

	.player_div:last-child {
		grid-column: 1 / span 3;
	}

	/* .player_div {
		width: 120px;
		height: 120px;
		z-index : 1;
	} */
	
	.card {
		width: 120px;
		height: 120px;
		margin: 0 auto;
		-webkit-transform-style: preserve-3d;
		-webkit-transition: all 1.0s linear;
		transform-style: preserve-3d;
		transition: all 1.0s linear;
	}

	.player_div.active .card {
		-webkit-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}

	.face {
		position: absolute;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
	}

	.face.back {
		display: block;
		-webkit-transform: rotateY(180deg);
		transform: rotateY(180deg);
		box-sizing: border-box;
		color: #000;
		text-align: center;
		background-color: #fff;
	}

	.face_name {
		margin-top: 45%;
	}

	.player_desc {
		visibility: hidden;
	}
}

/* Animation CSS created at https://bouncejs.com */



.animation-target {
	-webkit-animation: animation 1300ms linear both;
	animation: animation 1300ms linear both;
}
  
/* Generated with Bounce.js. Edit at https://goo.gl/FHGJV8 */
  
@-webkit-keyframes animation { 
	0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	3.77% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 17.736, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 17.736, 0, 1); }
	5.62% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 22.176, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 22.176, 0, 1); }
	7.47% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 23.339, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 23.339, 0, 1); }
	12.01% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 20.749, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 20.749, 0, 1); }
	15.28% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 19.603, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 19.603, 0, 1); }
	15.38% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 19.592, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 19.592, 0, 1); }
	16.48% { -webkit-transform: matrix3d(1.035, 0, 0, 0, 0, 1.035, 0, 0, 0, 0, 1, 0, 0, 19.537, 0, 1); transform: matrix3d(1.035, 0, 0, 0, 0, 1.035, 0, 0, 0, 0, 1, 0, 0, 19.537, 0, 1); }
	18.7% { -webkit-transform: matrix3d(1.103, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 19.67, 0, 1); transform: matrix3d(1.103, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 19.67, 0, 1); }
	22.01% { -webkit-transform: matrix3d(1.176, 0, 0, 0, 0, 1.176, 0, 0, 0, 0, 1, 0, 0, 19.965, 0, 1); transform: matrix3d(1.176, 0, 0, 0, 0, 1.176, 0, 0, 0, 0, 1, 0, 0, 19.965, 0, 1); }
	22.98% { -webkit-transform: matrix3d(1.19, 0, 0, 0, 0, 1.19, 0, 0, 0, 0, 1, 0, 0, 20.016, 0, 1); transform: matrix3d(1.19, 0, 0, 0, 0, 1.19, 0, 0, 0, 0, 1, 0, 0, 20.016, 0, 1); }
	23.08% { -webkit-transform: matrix3d(1.191, 0, 0, 0, 0, 1.191, 0, 0, 0, 0, 1, 0, 0, 20.02, 0, 1); transform: matrix3d(1.191, 0, 0, 0, 0, 1.191, 0, 0, 0, 0, 1, 0, 0, 20.02, 0, 1); }
	25.32% { -webkit-transform: matrix3d(1.124, 0, 0, 0, 0, 1.124, 0, 0, 0, 0, 1, 0, 0, 20.064, 0, 1); transform: matrix3d(1.124, 0, 0, 0, 0, 1.124, 0, 0, 0, 0, 1, 0, 0, 20.064, 0, 1); }
	25.56% { -webkit-transform: matrix3d(1.116, 0, 0, 0, 0, 1.116, 0, 0, 0, 0, 1, 0, 0, 20.064, 0, 1); transform: matrix3d(1.116, 0, 0, 0, 0, 1.116, 0, 0, 0, 0, 1, 0, 0, 20.064, 0, 1); }
	26.39% { -webkit-transform: matrix3d(1.09, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 20.061, 0, 1); transform: matrix3d(1.09, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 20.061, 0, 1); }
	28.63% { -webkit-transform: matrix3d(1.028, 0, 0, 0, 0, 1.028, 0, 0, 0, 0, 1, 0, 0, 20.034, 0, 1); transform: matrix3d(1.028, 0, 0, 0, 0, 1.028, 0, 0, 0, 0, 1, 0, 0, 20.034, 0, 1); }
	29.7% { -webkit-transform: matrix3d(1.004, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 20.019, 0, 1); transform: matrix3d(1.004, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 20.019, 0, 1); }
	33.01% { -webkit-transform: matrix3d(0.957, 0, 0, 0, 0, 0.957, 0, 0, 0, 0, 1, 0, 0, 19.993, 0, 1); transform: matrix3d(0.957, 0, 0, 0, 0, 0.957, 0, 0, 0, 0, 1, 0, 0, 19.993, 0, 1); }
	34.65% { -webkit-transform: matrix3d(0.947, 0, 0, 0, 0, 0.947, 0, 0, 0, 0, 1, 0, 0, 19.991, 0, 1); transform: matrix3d(0.947, 0, 0, 0, 0, 0.947, 0, 0, 0, 0, 1, 0, 0, 19.991, 0, 1); }
	36.32% { -webkit-transform: matrix3d(0.942, 0, 0, 0, 0, 0.942, 0, 0, 0, 0, 1, 0, 0, 19.993, 0, 1); transform: matrix3d(0.942, 0, 0, 0, 0, 0.942, 0, 0, 0, 0, 1, 0, 0, 19.993, 0, 1); }
	37.18% { -webkit-transform: matrix3d(0.941, 0, 0, 0, 0, 0.941, 0, 0, 0, 0, 1, 0, 0, 19.994, 0, 1); transform: matrix3d(0.941, 0, 0, 0, 0, 0.941, 0, 0, 0, 0, 1, 0, 0, 19.994, 0, 1); }
	43.66% { -webkit-transform: matrix3d(0.952, 0, 0, 0, 0, 0.952, 0, 0, 0, 0, 1, 0, 0, 20.001, 0, 1); transform: matrix3d(0.952, 0, 0, 0, 0, 0.952, 0, 0, 0, 0, 1, 0, 0, 20.001, 0, 1); }
	44.87% { -webkit-transform: matrix3d(0.954, 0, 0, 0, 0, 0.954, 0, 0, 0, 0, 1, 0, 0, 20.001, 0, 1); transform: matrix3d(0.954, 0, 0, 0, 0, 0.954, 0, 0, 0, 0, 1, 0, 0, 20.001, 0, 1); }
	45.72% { -webkit-transform: matrix3d(0.956, 0, 0, 0, 0, 0.956, 0, 0, 0, 0, 1, 0, 0, 20.001, 0, 1); transform: matrix3d(0.956, 0, 0, 0, 0, 0.956, 0, 0, 0, 0, 1, 0, 0, 20.001, 0, 1); }
	52.75% { -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); }
	53.41% { -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); }
	61.83% { -webkit-transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); }
	62.82% { -webkit-transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); }
	70.51% { -webkit-transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); }
	70.84% { -webkit-transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); }
	76.92% { -webkit-transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); }
	79.99% { -webkit-transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); }
	87.68% { -webkit-transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); }
	92.31% { -webkit-transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); }
	100% { -webkit-transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); } 
}
  
@keyframes animation { 
	0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	3.77% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 17.736, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 17.736, 0, 1); }
	5.62% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 22.176, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 22.176, 0, 1); }
	7.47% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 23.339, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 23.339, 0, 1); }
	12.01% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 20.749, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 20.749, 0, 1); }
	15.28% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 19.603, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 19.603, 0, 1); }
	15.38% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 19.592, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 19.592, 0, 1); }
	16.48% { -webkit-transform: matrix3d(1.035, 0, 0, 0, 0, 1.035, 0, 0, 0, 0, 1, 0, 0, 19.537, 0, 1); transform: matrix3d(1.035, 0, 0, 0, 0, 1.035, 0, 0, 0, 0, 1, 0, 0, 19.537, 0, 1); }
	18.7% { -webkit-transform: matrix3d(1.103, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 19.67, 0, 1); transform: matrix3d(1.103, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 19.67, 0, 1); }
	22.01% { -webkit-transform: matrix3d(1.176, 0, 0, 0, 0, 1.176, 0, 0, 0, 0, 1, 0, 0, 19.965, 0, 1); transform: matrix3d(1.176, 0, 0, 0, 0, 1.176, 0, 0, 0, 0, 1, 0, 0, 19.965, 0, 1); }
	22.98% { -webkit-transform: matrix3d(1.19, 0, 0, 0, 0, 1.19, 0, 0, 0, 0, 1, 0, 0, 20.016, 0, 1); transform: matrix3d(1.19, 0, 0, 0, 0, 1.19, 0, 0, 0, 0, 1, 0, 0, 20.016, 0, 1); }
	23.08% { -webkit-transform: matrix3d(1.191, 0, 0, 0, 0, 1.191, 0, 0, 0, 0, 1, 0, 0, 20.02, 0, 1); transform: matrix3d(1.191, 0, 0, 0, 0, 1.191, 0, 0, 0, 0, 1, 0, 0, 20.02, 0, 1); }
	25.32% { -webkit-transform: matrix3d(1.124, 0, 0, 0, 0, 1.124, 0, 0, 0, 0, 1, 0, 0, 20.064, 0, 1); transform: matrix3d(1.124, 0, 0, 0, 0, 1.124, 0, 0, 0, 0, 1, 0, 0, 20.064, 0, 1); }
	25.56% { -webkit-transform: matrix3d(1.116, 0, 0, 0, 0, 1.116, 0, 0, 0, 0, 1, 0, 0, 20.064, 0, 1); transform: matrix3d(1.116, 0, 0, 0, 0, 1.116, 0, 0, 0, 0, 1, 0, 0, 20.064, 0, 1); }
	26.39% { -webkit-transform: matrix3d(1.09, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 20.061, 0, 1); transform: matrix3d(1.09, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 20.061, 0, 1); }
	28.63% { -webkit-transform: matrix3d(1.028, 0, 0, 0, 0, 1.028, 0, 0, 0, 0, 1, 0, 0, 20.034, 0, 1); transform: matrix3d(1.028, 0, 0, 0, 0, 1.028, 0, 0, 0, 0, 1, 0, 0, 20.034, 0, 1); }
	29.7% { -webkit-transform: matrix3d(1.004, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 20.019, 0, 1); transform: matrix3d(1.004, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 20.019, 0, 1); }
	33.01% { -webkit-transform: matrix3d(0.957, 0, 0, 0, 0, 0.957, 0, 0, 0, 0, 1, 0, 0, 19.993, 0, 1); transform: matrix3d(0.957, 0, 0, 0, 0, 0.957, 0, 0, 0, 0, 1, 0, 0, 19.993, 0, 1); }
	34.65% { -webkit-transform: matrix3d(0.947, 0, 0, 0, 0, 0.947, 0, 0, 0, 0, 1, 0, 0, 19.991, 0, 1); transform: matrix3d(0.947, 0, 0, 0, 0, 0.947, 0, 0, 0, 0, 1, 0, 0, 19.991, 0, 1); }
	36.32% { -webkit-transform: matrix3d(0.942, 0, 0, 0, 0, 0.942, 0, 0, 0, 0, 1, 0, 0, 19.993, 0, 1); transform: matrix3d(0.942, 0, 0, 0, 0, 0.942, 0, 0, 0, 0, 1, 0, 0, 19.993, 0, 1); }
	37.18% { -webkit-transform: matrix3d(0.941, 0, 0, 0, 0, 0.941, 0, 0, 0, 0, 1, 0, 0, 19.994, 0, 1); transform: matrix3d(0.941, 0, 0, 0, 0, 0.941, 0, 0, 0, 0, 1, 0, 0, 19.994, 0, 1); }
	43.66% { -webkit-transform: matrix3d(0.952, 0, 0, 0, 0, 0.952, 0, 0, 0, 0, 1, 0, 0, 20.001, 0, 1); transform: matrix3d(0.952, 0, 0, 0, 0, 0.952, 0, 0, 0, 0, 1, 0, 0, 20.001, 0, 1); }
	44.87% { -webkit-transform: matrix3d(0.954, 0, 0, 0, 0, 0.954, 0, 0, 0, 0, 1, 0, 0, 20.001, 0, 1); transform: matrix3d(0.954, 0, 0, 0, 0, 0.954, 0, 0, 0, 0, 1, 0, 0, 20.001, 0, 1); }
	45.72% { -webkit-transform: matrix3d(0.956, 0, 0, 0, 0, 0.956, 0, 0, 0, 0, 1, 0, 0, 20.001, 0, 1); transform: matrix3d(0.956, 0, 0, 0, 0, 0.956, 0, 0, 0, 0, 1, 0, 0, 20.001, 0, 1); }
	52.75% { -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); }
	53.41% { -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); }
	61.83% { -webkit-transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); }
	62.82% { -webkit-transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); }
	70.51% { -webkit-transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); }
	70.84% { -webkit-transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); }
	76.92% { -webkit-transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); }
	79.99% { -webkit-transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); }
	87.68% { -webkit-transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); }
	92.31% { -webkit-transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); }
	100% { -webkit-transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); } 
}
  
  